.nav-links li:nth-child(1) {
    opacity: 40%;
}

.nav-links li:nth-child(1):hover {
    opacity: 100%;
}

.nav-links li:nth-child(2) {
    opacity: 40%;    
}

.nav-links li:nth-child(2):hover {
    opacity: 100%;
}


.nav-links li:nth-child(3) {
    opacity: 100%;
}

.question {
    font-weight: 700;
}

.question {
    font-style: oblique;
}

.link {
    display: block;
}

section li {
    list-style: none;
}

span.question {
    display: block;
}

#faq {
    font-size: 1.1 rem;
}

#faq li {
    margin-bottom: 20px;
    font-family: "Nunito", sans-serif;
}